body {
  font-family: times new roman;
  padding: 30px;
}

/* Add space between columns */
table {
  border-spacing: 15px;
  border-collapse: separate;
  padding: 100px; /* Adjust the padding to add space on the left and right */
}

td {
  padding: 15px;
}

/* Style links within td elements */
td a {
  color: rgba(15, 206, 131, 1);
  font-weight: 400;
  text-decoration: none;
}

/* Hover state for links */
td a:hover {
  text-decoration: underline;
}